@import 'theme';

.wrapper {
  background-color: $primaryColor !important;
  height: 5.6rem;
}

.menuIcon {
  color: $white;
}

.logoWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    width: 5rem;
    height: 5rem;
  }
}
