$smMinPx: 600px;
$mdMinPx: 960px;
$lgMinPx: 1280px;
$xlMinPx: 1920px;

$smMin: 60rem;
$mdMin: 96rem;
$lgMin: 128rem;
$xlMin: 192rem;

@mixin respondTo($media) {
  @if $media == sm {
    @media only screen and (min-width: $smMinPx) {
      @content;
    }
  }
  @else if $media == md {
    @media only screen and (min-width: $mdMinPx) {
      @content;
    }
  }
  @else if $media == lg {
    @media only screen and (min-width: $lgMinPx) {
      @content;
    }
  }
  @else if $media == xl {
    @media only screen and (min-width: $xlMinPx) {
      @content;
    }
  }
}

@mixin strictlyRespondTo($media) {
  @if $media == sm {
    @media only screen and (min-width: $smMinPx) and (max-width: $mdMinPx - 1) {
      @content;
    }
  }
  @else if $media == md {
    @media only screen and (min-width: $mdMinPx) and (max-width: $lgMinPx - 1) {
      @content;
    }
  }
  @else if $media == lg {
    @media only screen and (min-width: $lgMinPx) and (max-width: $xlMinPx - 1) {
      @content;
    }
  }
  @else if $media == xl {
    @media only screen and (min-width: $xlMinPx) {
      @content;
    }
  }
}


@mixin sm() {
  @include respondTo(sm) {
    @content;
  }
}

@mixin md() {
  @include respondTo(md) {
    @content;
  }
}

@mixin lg() {
  @include respondTo(lg) {
    @content;
  }
}

@mixin xl() {
  @include respondTo(xl) {
    @content;
  }
}

@mixin strictlySm() {
  @include strictlyRespondTo(sm) {
    @content;
  }
}

@mixin strictlyMd() {
  @include strictlyRespondTo(md) {
    @content;
  }
}

@mixin strictlyLg() {
  @include strictlyRespondTo(lg) {
    @content;
  }
}

@mixin strictlyXl() {
  @include strictlyRespondTo(xl) {
    @content;
  }
}
