@import 'theme';
@import 'helpers';

.wrapper {
  @include keepEmpty();
}

.section {
  width: 25rem;
}

.subMenu {
  margin-left: 1.5rem !important;
}

.cooking {
  background-color: $cooking !important;
}

.wine {
  background-color: $wine !important;
}

.music {
  background-color: $music !important;
}
